@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.conteudo {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    border: dotted black 2px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    height: auto;
}

.card img {
    margin: 10px 0 20px 0;
}

.card p {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.card a {
    padding: 10px;
    background-color: #121c4d;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white;
}

.card a:hover {
    box-shadow: 0 0 10px;
}
