{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/tabelas.css' %}" />
{% endblock %} {% block conteudo %}

<table>
    <thead>
        <tr>
            <th colspan="5" style="text-align: start">Aproveitamento</th>
            <th colspan="1" style="justify-content: end">
                <a
                    class="cad"
                    href="{% url 'cadastrar_aproveitamento' id_aluno %}"
                >
                    Cadastrar</a
                >
            </th>
        </tr>
        <tr>
            <th scope="col">Cod</th>
            <th scope="col">Descrição</th>
            <th scope="col">Semestre</th>
            <th scope="col">Ano</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for aproveitamento in aproveitamentos %}
        <tr>
            <th scope="row">{{ aproveitamento.categoria }}</th>
            <td>{{ aproveitamento.descricao }}</td>
            <td>{{ aproveitamento.semestre }}</td>
            <td>{{ aproveitamento.ano }}</td>
            <td>{{ aproveitamento.ch }}</td>
            <td>
                <a
                    class="edit"
                    href="{% url 'editar_aproveitamento' aproveitamento.id_aproveitamento %}"
                    >Editar</a
                >
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
