{% extends 'base.html' %}
{% block conteudo %}

<a href="{% url 'home' %}">Home</a>
<a href="{% url 'cadastrar_aproveitamento' %}">Cadastrar</a>
<section class="container">
    <table>
        <tr>
            <th>Cod</th>
            <th>Descrição</th>
            <th>Semestre</th>
            <th>Ano</th>
            <th>Carga Horária</th>
            <th>Opções</th>
        </tr>
        {% for aproveitamento in aproveitamentos %}
        <tr>
            <td>{{ aproveitamento.categoria }}</td>
            <td>{{ aproveitamento.descricao }}</td>
            <td>{{ aproveitamento.semestre }}</td>
            <td>{{ aproveitamento.ano }}</td>
            <td>{{ aproveitamento.ch }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}
